<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button *ngIf="(isAuth$ | async)">
      <mat-icon (click)="onToggleSidenav()">
        {{ openSideNav ? 'close' : 'menu' }}
      </mat-icon>
    </button>
    <h1><a class="toolbar-link" [routerLink]="(isAuth$ | async) ? ['/finance/expensehistory'] : ['/']">Spend wise</a></h1>
    <div fxLayoutGap="20px" fxFlex fxLayout fxLayoutAlign="end">
      <ul fxLayout class="navigation-items" *ngIf="(isAuth$ | async)">
        <li>
          <span>
            {{ allAccounts | bankAccountsBalance: userBaseCurrency.code | currency: userBaseCurrency.code }}
          </span>
          <mat-icon class="small" [matTooltip]="'User current balance'">info_outline</mat-icon>
        </li>
      </ul>
      <mat-form-field *ngIf="(isAuth$ | async)" class="currency">
        <mat-label> Base Currency </mat-label>
        <mat-select #currencyInput="ngModel" [disabled]="disableBaseCurrency"
                    name="currency" id="currency" [(ngModel)]="userBaseCurrency.code">
          <mat-option *ngFor="let currency of currencies" [value]="currency.code">
            {{currency.code}}
          </mat-option>
        </mat-select>
        <!-- <a style="cursor: pointer;" (click)="saveUserBaseCurrency()">
          <mat-icon>{{ disableBaseCurrency ? 'edit' : 'save' }} </mat-icon>
        </a> -->
      </mat-form-field>
      <ul fxLayout class="navigation-items" *ngIf="!(isAuth$ | async)">
        <li>
          <button mat-stroked-button [routerLink]="'/login'">
            <mat-icon>login</mat-icon>
            Login
          </button>
        </li>
        <li>
          <button mat-button [routerLink]="'/signup'">
            <mat-icon>how_to_reg</mat-icon>
            Sign up
          </button>
        </li>
      </ul>
      <ul fxLayout class="navigation-items" *ngIf="(isAuth$ | async)">
        <li>
          <span class="logout">
            <button mat-mini-fab [matTooltip]="currentUser.userName" [matMenuTriggerFor]="menu"
                    [matTooltipPosition]="position.value" color="warn">
              <mat-icon>perm_identity</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <div class="header-nav-current-user css-truncate">
                <mat-label>Signed in as <strong class="css-truncate-target">{{currentUser.userName}}</strong></mat-label>
              </div>
              <mat-divider style="margin: 10px;"></mat-divider>
              <button mat-menu-item (click)="openUserSettingsDialog()" class="cursor-pointer">
                <mat-icon>face_outline</mat-icon>
                <span>Profile</span>
              </button>
              <button mat-menu-item (click)="onLogout()" class="cursor-pointer">
                <mat-icon>power_settings_new</mat-icon>
                <span>Logout</span>
              </button>
            </mat-menu>
          </span>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="(isAuth$ | async)" class="second-toolbar">
    <span>{{ pageTitle }}</span>
  </mat-toolbar-row>
</mat-toolbar>
