<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div><a class="toolbar-link" [routerLink]="loggedIn() ? ['/finance'] : ['/']">Finance Tracker</a></div>
    <div fxLayoutGap="40px" fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <mat-form-field *ngIf="loggedIn()" [style.width.px]=100 [style.height.px]=40 [style.fontSize.px]=12>
            <mat-label> Currency </mat-label>
            <mat-select #currencyInput="ngModel" [disabled]="disableBaseCurrency" name="currency" id="currency" [(ngModel)]="userBaseCurrency">
                <mat-option *ngFor="let currency of currencies" [value]="currency">
                    {{currency}}
                </mat-option>
            </mat-select>
            <a *ngIf="disableBaseCurrency" style="cursor: pointer;" (click)="disableBaseCurrency = false;">
                <mat-icon>edit</mat-icon>
            </a>
            <a *ngIf="!disableBaseCurrency" style="cursor: pointer;" (click)="saveUserBaseCurrency(); disableBaseCurrency = true;">
                <mat-icon>save</mat-icon>
            </a>
        </mat-form-field>
        <ul fxLayout class="navigation-items">
            <li *ngIf="!loggedIn()">
                <a class="toolbar-link" routerLink="/signup">
                    <mat-icon title="signup" class="icon-display">person_add_alt_1</mat-icon>
                    <!-- <span style="font-size: 10px; display: inline-block;">Signup</span> -->
                </a>
            </li>
            <li *ngIf="!loggedIn()"><a class="toolbar-link" routerLink="/login"><mat-icon title="login" class="icon-display">login</mat-icon></a></li>
            <li *ngIf="loggedIn()"><a class="toolbar-link cursor-pointer" (click)="onLogout()"><mat-icon title="logout" class="icon-display">power_settings_new</mat-icon></a></li>
        </ul>
    </div>
</mat-toolbar>