a.toolbar-link {
    text-decoration: none;
    color: white;
}

a.toolbar-link:hover,
a.toolbar-link:active {
    color: lightgray;
}
.mat-icon {
    display:inline-flex;
    vertical-align:top;
}

.navigation-items {
    font-size:  14px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-caption {
    display: inline-block;
    padding-left: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

.icon-display {
    display: inline-block;
    transform: scale(1.5);
 }

 .not-last-item {
    border-right: 1px dotted darkgrey;    
 }
 
 .menu-spacer {
    display: inline;
    margin-right: 40px;
}

.mat-stroked-button,
.mat-button {
    color: black;
    font-weight: bold;
}

.currency {
    padding-right: 30px;
    width: 60px;
    height: 30px;
    font-size: 12px;
}

@media only screen and (max-width: 599px) {
    .currency {
        padding-right: 20px;
    }
    
    .navigation-items {
        font-size:  10px;
    }
}

.mat-toolbar {
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; 
    z-index: 10;
}