<form fxLayout="column" fxLayoutAlign="center center" #accountActionsForm="ngForm" fxLayoutGap="12px" novalidate>
    <h2 mat-dialog-title>
        {{ action }}
    </h2>
    <section class="account-actions-section">
        <div mat-dialog-content>
            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="action">
                <mat-radio-button class="example-radio-button" *ngFor="let act of accountActions" [value]="act">
                    {{act}}
                </mat-radio-button>
        </mat-radio-group>
        </div>
        <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button type="submit" mat-button [mat-dialog-close]="false" (click)="onSave()"
             [disabled]="accountActionsForm.invalid" mat-raised-button color="primary">Save</button>
        </mat-dialog-actions>
    </section>
</form>