<mat-nav-list>
    <a *ngIf="!(isAuth$ | async)" fxHide.gt-xs mat-list-item
        [class.active]="isActive('login')" routerLink="/login">
        <mat-icon>login</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <span class="nav-caption">Login</span>
        </div>
    </a>
    <a *ngIf="!(isAuth$ | async)" fxHide.gt-xs mat-list-item
        [class.active]="isActive('signup')" routerLink="/signup">
        <mat-icon>how_to_reg</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <span class="nav-caption">Signup</span>
        </div>
    </a>
    <a *ngIf="isAuth$ | async"  mat-list-item
        [class.active]="isActive('finance/categorylist')" [routerLink]="'/finance/categorylist'">
        <mat-icon>wysiwyg</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <span class="nav-caption">Categories</span>
        </div>
    </a>
    <a *ngIf="isAuth$ | async"  mat-list-item
        [class.active]="isActive('finance/income')" [routerLink]="'/finance/income'">
        <mat-icon>account_balance</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <span class="nav-caption">Income</span>
        </div>
    </a>
    <a *ngIf="isAuth$ | async"  mat-list-item
        [class.active]="isActive('finance/expensehistory')" [routerLink]="'/finance/expensehistory'">
        <mat-icon>payments</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
            <span class="nav-caption">Expenses</span>
        </div>
    </a>
    <mat-list-item *ngIf="isAuth$ | async" fxHide.gt-xs>
        <button mat-icon-button (click)="onSignOut()">
            <mat-icon>power_settings_new</mat-icon>
            <div fxFlex="10"></div>
            <div *ngIf="sidenavWidth > 6" class="sidenav-item">
                <span class="nav-caption">Sign out</span>
            </div>
        </button>
    </mat-list-item>
</mat-nav-list>