<section>
    <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" fxLayoutGap="10px" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="text" matInput placeholder="User Name" #userNameInput="ngModel"
                name="userName" id="userName" [errorStateMatcher]="matcher" ngModel required minlength="6">
                <mat-hint align="end">{{ userNameInput.value?.length }} / 6 </mat-hint>
                <mat-error *ngIf="userNameInput.hasError('userNameAlreadyTaken')">
                    User Name was already taken.
                </mat-error>
                <mat-error *ngIf="userNameInput.hasError('required')">User Name should be 6 characters long.</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Password should be at least 6 characters long.">
            <input type="password" matInput placeholder="Password" #pwInput="ngModel"
                name="password" id="password" ngModel required minlength="6">
                <mat-error>Password should be 6 characters long.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Birthdate" [matDatepicker]="birthdayPicker"
                [max]="maxDate" ngModel name="birthdayPicker">
            <mat-datepicker-toggle matSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
            <mat-datepicker #birthdayPicker></mat-datepicker>
        </mat-form-field>
            <mat-form-field>
                <mat-label> Currency </mat-label>
                <mat-select #currencyInput="ngModel" name="currency" id="currency" ngModel required>
                    <mat-option value=""> - Select - </mat-option>
                    <mat-option *ngFor="let currency of currencies" [value]="currency">
                        {{currency}}
                    </mat-option>
                </mat-select>
                <mat-error>Category is required.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label> Country </mat-label>
                <mat-select #countryInput="ngModel" name="country" id="country" (selectionChange)="filterCity(f)" ngModel required>
                    <mat-option value=""> - Select - </mat-option>
                    <mat-option *ngFor="let country of countries" [value]="country">
                        {{country}}
                    </mat-option>
                </mat-select>
                <mat-error>Country is required.</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label> Time Zone </mat-label>
                <mat-select #timeZoneInput="ngModel" name="timeZone" id="timeZone" ngModel required>
                    <mat-option value=""> - Select - </mat-option>
                    <mat-option *ngFor="let timeZone of timeZones" [value]="timeZone">
                        {{timeZone}}
                    </mat-option>
                </mat-select>
                <mat-error>Time Zone is required.</mat-error>
            </mat-form-field>
        <button type="submit" [disabled]="f.invalid" mat-raised-button color="warn">Submit</button>
    </form>
</section>