.mat-table {
    max-width: 100%;
    word-break: break-word;
    display: block;
    overflow: hidden;
    height: auto;
    position: relative;
}

.mat-icon-action {
    transform: scale(0.8);
 }

.gray {
    background-color: lightyellow;
}

.mat-footer-row, .mat-header-row, .mat-row {
    border-style: dashed;
}

@media (max-width: 499px) {
    .mat-dialog-content {
        padding: 0px 10px;
    }
}