
.mat-table {
    margin: 15px 30px;
}

.mat-paginator {
    margin: 15px 30px;
}

.add-button {
    position: absolute;
    right: 30px;
    top: 40px;
}

.header-div {
  margin-top: 30px;
}

@media only screen and (max-width: 599px) {
    .mat-icon-button {
        width: 25px;
    }
}